*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}
.container{
    max-width: 75%;
    margin: 50px auto;
}

.testo-centro{
    text-align: center;
}

.col{
    height: 150px;
    width: calc(100% / 3 - 20px);
    float: left;
    background-color: blue;
    margin: 10px;
}

.row{
    width: 100%;
    background-color: #E53170;

}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.testo-rosa{
    color: #E53170;
    font-size: 30pt;
}


.testo-bianco{
    color: white;
}

.carta{
    background-color: #0F0E17;
    color: white;
    width: 100%;
    height: 150px;
}

.propic{
    float: left;
    width: 100px;
}

.contenitore{
    padding: 10px;
    float: right;
    width: calc(100% - 100px);
}