*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}
.container{
    max-width: 75%;
    margin: 50px auto;
}

.testo-centro{
    text-align: center;
}

.col{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
}

.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.testo-rosa{
    color: #E53170;
    font-size: 30pt;
}


.testo-bianco{
    color: white;
}

.carta{
    background-color: #0F0E17;
    color: white;
    width: 100%;
}

.carta:after{
        content: "";
        display: table;
        clear: both;
}

.propic{
    float: left;
    width: 100px;
}

.contenitore{
    padding: 10px;
    float: right;
    width: calc(100% - 100px);
}


a, h3{
    margin-bottom: 15px;
}

a{
    color: rgb(0, 174, 255);
    text-decoration: none;
}